body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app-header {
  display: flex;
  align-items: center; /* Vertically center items */
  gap: 0.2rem;           /* Optional: space between title and menu */
  border-bottom: 2px solid grey;
}

.header-title {
  display: inline-block;
  width: auto;
  color: blue;
  background-color: white;  
}

.menu-drop-wrapper {
  display: flex;
  flex-direction: row; /* This is the default, but explicit is good */
  list-style: none;    /* Removes default bullets */
  align-items: center; /* Vertically center items if needed */
}

.menu-drop {
  padding: 0rem 0.5rem;
  cursor: pointer;
  color: blue;
  background-color: white;
}

.menu-drop:hover {
  background-color: rgb(0, 102, 255);
  color: white;
}

.kredi-menu{
  display: none;
}

.menu-drop:hover .kredi-menu {
  position: absolute;
  top: 7%;
  left: 8%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 102, 255);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

